{% extends 'base.html' %}

{% load lookup %}

{% block title %}Попробуйте загрузить ваш файл со случайными числами{% endblock %}

{% block content %}

{% load crispy_forms_tags %}


<div id="content">

<h3 class="bord1">О ПРОЕКТЕ</h3>

<p class="bord1">На этом веб-сайте вы можете протестировать последовательности чисел ваших генераторов.
Веб-приложение основано на тестах Diehard, разработанных в 1995 Дж. Марсальей (G. Marsaglia), которые предназначены для тестирования последовательностей случайных чисел 
на равномерность и независимость.
</p>

<h3 class="bord1">КАК ПРОВОДИТСЯ ТЕСТИРОВАНИЕ?</h3>

<p class="bord1">Записав последовательность чисел в текстовый файл, вы отправляете этот файл через форму ниже. После чего, эта последовательность
будет преобразована в последовательность некоторых объектов, по которой оценивается распределение случайной величины &zeta;, исходя из полученного 
 p&ndash;значения. И так, для каждого теста. Каждое из p&ndash;значениий можно считать качественной оценкой случайности производимых вашим генератором 
числовых последовательностей. P&ndash;значение определяет вероятность того, что оцениваемая случайная величина &zeta; подчиняется заданному закону 
распределения.
</p>


<h3 class="bord1">ВНИМАНИЕ! ВАЖНО: Правила подготовки и загрузки файла со случайными числами</h3>

<p class="bord1">1.&nbsp;Файл должен быть текстового формата с расширением .txt.</p>

<p class="bord1">2.&nbsp;Числа должны быть целыми из интервала [0, 2<sup>32</sup>-1] и отделяться друг от друга любым разделителем.</p>

<p class="bord1">3.&nbsp;Количество записанных чисел в предоставляемом файле &mdash; 4 000 000.</p>
</div>

<div id="right">

</div>

<form enctype="multipart/form-data" action="{% url 'inputData:home' %}" method="post">
	{% csrf_token %}
	{{ form|crispy }}
<p>
<input class="button19" type="submit" value="ОТПРАВИТЬ">
</form>


{% endblock %}
